body {
    font-family: Verdana, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Arial, sans-serif;
}


.produit {
    color: coral;
    font-style: italic;
}

.reference {
    font-style: italic;
}

.general {
    color: blue;
    font-weight: bold;
    text-decoration-line: underline;
}

#last {
    color: blue;
    font-size: small;
    background: #C0C0C0;
}

#first h3 {
    color: red;
    text-transform: uppercase;
}

blockquote p::first-letter {
    color: green;
    font-weight: bold;
    font-family: fantasy;
}

th {
    font-variant: small-caps;
    text-decoration-line: underline;
}

.reference {
    background: lightgray;
}

blockquote p {
    padding-left: 20px;
}

.produit::first-letter {
    text-transform: capitalize;
}

ul {
    list-style: circle;
}
